section.chatbot
  .chatbot__top
    .chatbot__top-desc
      h1.chatbot__title Как забронировать зал?
      h2.chatbot__subtitle.subtitle бронирование по шагам в чат-боте
    .chatbot__controls
      .prev.slider-control ❮
      .slider-pagin
        strong.slide-num 1
        |  из 
        span.slide-count
      .next.slider-control ❯
  #chatbot-slider.chatbot__slider-wrap
    .chatbot__slider
      .chatbot__slide
        .chatbot__slide-number 1
        img.chatbot__slide-frame(src='/img/chatbot/frame.png' alt='frame')
        img.chatbot__slide-screen(src='/img/chatbot/chatbot-tel-1.png' alt='tel-1')
        .chatbot__slide-desc
          img.chatbot__slide-icon(src='/img/chatbot/chatbot-icon-1.svg' alt)
          .chatbot__slide-text Перейти в чат-бот fh_harizma_bot
      .chatbot__slide
        .chatbot__slide-number 2
        img.chatbot__slide-frame(src='/img/chatbot/frame.png' alt='frame')
        img.chatbot__slide-screen(src='/img/chatbot/chatbot-tel-2.png' alt='tel-2')
        .chatbot__slide-desc
          img.chatbot__slide-icon(src='/img/chatbot/chatbot-icon-2.svg' alt)
          .chatbot__slide-text Выбрать колличество человек
      .chatbot__slide.chatbot__slide--active
        .chatbot__slide-number 3
        img.chatbot__slide-frame(src='/img/chatbot/frame.png' alt='frame')
        img.chatbot__slide-screen(src='/img/chatbot/chatbot-tel-3.png' alt='tel-3')
        .chatbot__slide-desc
          img.chatbot__slide-icon(src='/img/chatbot/chatbot-icon-3.svg' alt)
          .chatbot__slide-text Выбрать колличество часов посещения
      .chatbot__slide
        .chatbot__slide-number 4
        img.chatbot__slide-frame(src='/img/chatbot/frame.png' alt='frame')
        img.chatbot__slide-screen(src='/img/chatbot/chatbot-tel-4.png' alt='tel-4')
        .chatbot__slide-desc
          img.chatbot__slide-icon(src='/img/chatbot/chatbot-icon-4.svg' alt)
          .chatbot__slide-text Выбрать дату
      .chatbot__slide
        .chatbot__slide-number 5
        img.chatbot__slide-frame(src='/img/chatbot/frame.png' alt='frame')
        img.chatbot__slide-screen(src='/img/chatbot/chatbot-tel-5.png' alt='tel-5')
        .chatbot__slide-desc
          img.chatbot__slide-icon(src='/img/chatbot/chatbot-icon-5.svg' alt)
          .chatbot__slide-text Выбрать время старта брони
      .chatbot__slide
        .chatbot__slide-number 6
        img.chatbot__slide-frame(src='/img/chatbot/frame.png' alt='frame')
        img.chatbot__slide-screen(src='/img/chatbot/chatbot-tel-5.png' alt='tel-6')
        .chatbot__slide-desc
          img.chatbot__slide-icon(src='/img/chatbot/chatbot-icon-5.svg' alt='icon-6')
          .chatbot__slide-text Выбрать время старта брони
  .chatbot__controls.chatbot__controls_adaptive
    .prev.slider-control ❮
    .slider-pagin
      strong.slide-num 1
      |  из 
      span.slide-count
    .next.slider-control ❯