section.footer
  .footer__wrap
    .footer__logo
      img(src='/img/logo.svg' alt)
    .footer__contact
      .footer__contact-icon
        i.x_tel.icons
      .footer__contact-txt +38 (097) 970-90-90
    .footer__contact
      .footer__contact-icon
        i.x_calendar.icons
      .footer__contact-txt Пн — Вс круглосуточно
    .footer__contact
      .footer__contact-icon
        i.x_loc.icons
      .footer__contact-txt м. Лубянка, ул. Сретенский переулок, 4