section.halls
  .halls__content
    .halls__title Наши залы
    .halls__desc Ознакомтесь с атмосферой праздника
    .halls__slider-numbers
      span.halls__slider-number.halls__slider-number--active HALL №1
      span.halls__slider-number HALL №2
      span.halls__slider-number HALL №3
      span.halls__slider-number HALL №4
    .halls__big-view
      img(src='/img/hall-image-slider/full-view1.jpg' alt)
    .halls__slider-wrap
      .halls__slider-about
        .halls__slider-about-item
          img.halls__slider-img(src='/img/halls/room.svg' alt)
          span.halls__slider-item-txt № 1
        .halls__slider-about-item
          img.halls__slider-img(src='/img/halls/expand.svg' alt)
          span.halls__slider-item-txt 40 м. кв.
        .halls__slider-about-item
          img.halls__slider-img(src='/img/halls/people.svg' alt)
          span.halls__slider-item-txt до 20-ти человек
    .halls__slider-controls
      .halls__slider-control ❮
      .halls__slider-pagin
        strong.slider-pagin--active 1
        |  из 
        span 17
      .halls__slider-control ❯
    .halls__button.button-orange Забронировать