section.privilege
  .privilege__left
    .privilege__title наши Преимущества
    .privilege__subtitle Почему гости выбирают нас
    .privilege__cards
      .privilege__card.privilege__card--light
        img.privilege__card-img(src='/img/privilege/shirt.svg' alt='shirt')
        .privilege__card-title Никакого дресс-контроля
      .privilege__card.privilege__card--dark
        img.privilege__card-img(src='/img/privilege/cd.svg' alt='cd')
        .privilege__card-title ~ 40.000 песен в сет листе
        .privilege__card-list Более 50,000 студийных фонограмм
        .privilege__card-list Ежемесячное обновления репертуара
      .privilege__card.privilege__card--light
        img.privilege__card-img(src='/img/privilege/party.svg' alt='party')
        .privilege__card-title Индивидуальные залы
        .privilege__card-list Только Ваша компания
      .privilege__card.privilege__card--dark
        img.privilege__card-img(src='/img/privilege/cash.svg' alt='cash')
        .privilege__card-title Без депозита
        .privilege__card-list
          span.accent-color Мы не берем депозит
        .privilege__card-list Оплата происходит за человека в час
      .privilege__card.privilege__card--light
        img.privilege__card-img(src='/img/privilege/goal.svg' alt='goal')
        .privilege__card-title В самом центре Москвы
        .privilege__card-list м. Лубянка
      .privilege__card.privilege__card--dark
        img.privilege__card-img(src='/img/privilege/champagne.svg' alt='champagne')
        .privilege__card-title Нет пробкового сбора
        .privilege__card-list
          | Можно приносить с собой еду, напитки и алкоголь 
          span.accent-color без пробкового сбора
  .privilege__right
    .button-orange Забронировать зал
  img.privilege-illustration(src='/img/illustration/privilege-illustration.png' alt='privilege-illustration')