doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    link(rel="stylesheet" href="css/style.css")
    title XARIZMA Gulp
  body 
    .all__page-background
      .wrapper
        include html/main
        include html/halls
        include html/privilage
        include html/chatbot
        include html/about
        include html/footer
    script(src="/js/app.js")